# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

git-ignored/

public/cv/cv.aux
public/cv/cv.bbl
public/cv/cv.bcf
public/cv/cv.fdb_latexmk
public/cv/cv.fls
public/cv/cv.log
public/cv/cv.out
public/cv/cv.run.xml
public/cv/cv.synctex.gz
public/cv/cv.texgit a
public/cv/makefile
public/cv/pdfa.xmpi
public/cv/pubs-authoryear.tex
public/cv/pubs-num.tex
public/cv/README.md
public/cv/references.bib

