---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  
  return posts.map((post) => ({
    params: { slug: post.slug }, 
    props: { post },             
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---
<BaseLayout title={post.data.title}>
  <article>
    <Content />
  </article>
  <section class="comments">
  <script 
    src="https://utteranc.es/client.js"
    repo="luisacicolini/luisacicolini.github.io" 
    issue-term="pathname"
    label="comments"
    theme="github-dark"
    crossorigin="anonymous"
    async>
  </script>
  </section>
</BaseLayout>