body {
  color: #000000;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  max-width: 900px; 
  background-color: #EDF7D2;
}

blockquote {
  border-left: 2px solid #14591D;
  border-radius: 0 6px 6px 0;
  background-color: rgba(20, 89, 29, 0.08);
  font-style: italic;
  font-family:serif;
  margin: 0.8rem 0 0.5rem;
  padding: 0.8rem 1.5 0.5rem;
  font-size: 0.9em;
}

h1, h2, h3 {
  color: #14591D; 
}

