body {
  color: #000000;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  margin: 0 auto;
  max-width: 900px; 
  padding: 0 1rem;
  background-color: #EDF7D2;
}

article {
  font-size: 1.1rem;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  color: #14591D; 
}

