---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Blog">
  <Header />
  <main>
    <h1>Blog</h1>
    <ul>
      <li><a href="/blog/post-1">Post Title 1</a></li>
    </ul>
  </main>
</BaseLayout>
