---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import { getCollection } from 'astro:content';
const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout title="welcome-home">
  <Header/>
  <main>
  <h1>Welcome :)</h1>
  <a href="read-list">things i've read</a> 
  <br>
  <a href="reading-list">things i want to read</a>
  <br>
  <a href="papers">papers i've read</a>
  <br>
  <a href="talks">talks i attended</a>
  <br>
  <a href="about-me">let's meet :)</a>
  <br>
  </main>
</BaseLayout>

<p>Things i'm learning:</p>
<ul>
  {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>