---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
---
<BaseLayout title="Timeline">
  <Header/>
  <main>
    <h1>Timeline</h1>
    <ul>
      <li>event</li>
    </ul>
  </main>
</BaseLayout>
