---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const papers = Object.values(import.meta.glob('./papers/*.md', { eager: true }));

---

<p>read papers:</p>
<ul>
  {papers.map(paper => <li><a href={paper.url}>{paper.frontmatter.title}</a></li>)}
</ul>