---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const papers = Object.values(import.meta.glob('./papers/*.md', { eager: true }));

---

<p>read papers:</p>
<ul>
  {papers.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</ul>