---
---
<header>
  <nav>
    <a href="https://www.linkedin.com/in/luisacicolini/" target="https://www.linkedin.com/in/luisacicolini/">linkedin</a> |
    <a href="https://github.com/luisacicolini" target="https://github.com/luisacicolini">github</a> |
    <a href="https://open.spotify.com/user/212dymexmccew2r4wprlwaduy?si=9c169d17d68347c1" target="https://open.spotify.com/user/212dymexmccew2r4wprlwaduy?si=9c169d17d68347c1">spotify</a> |
    <a href="/src/pages/cv/cv.pdf" target="_blank">cv</a>
  </nav>
</header>
