---
---
<header>
  <nav>
    <a href="https://www.linkedin.com/in/luisacicolini/" target="https://www.linkedin.com/in/luisacicolini/">LinkedIn</a> |
    <a href="https://github.com/luisacicolini" target="https://github.com/luisacicolini">GitHub</a> |
    <a href="https://open.spotify.com/user/212dymexmccew2r4wprlwaduy?si=9c169d17d68347c1" target="https://open.spotify.com/user/212dymexmccew2r4wprlwaduy?si=9c169d17d68347c1">Spotify</a> |
    <a href="https://www.instagram.com/facciocose.nonvedogente/" target="https://www.instagram.com/facciocose.nonvedogente/">Art</a>
  </nav>
</header>
